/*Sorted by selector type- still trying to decide how best to 
organize css for readability*/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: lightgrey;
}

p {
    width: 500px;
    word-wrap: wrap;
}

.colorChoice{
    display: flex;
}

#gridHolder{
    display: grid;
    border: solid black 2px;
    background-color: white;
    width: 500px;
    height: 500px;
}
#controlsHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#resetButton{
    width: 150px;
}

#gridHolder > div {
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    width: auto;
}
