body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: lightgrey;
}
#gridHolder{
    display: grid;
    border: solid black 2px;
    background-color: white;;
}
#controlsHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  
    
}
#resetButton{
    width: 150px;
}
#gridHolder > div {
  
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
}
.colorChoice{
    display: flex;
}

p {
    width: 500px;
    word-wrap: wrap;
}